/** @format */
/* Start Global Rules */

:root {
	--main-color: #0576e7;
	--sec-color: #df364c;
	--third-color: #fcce16;
	--main-bg-color: #eeeded;
	--font-color: #777;
	--section-padding: 60px;
	--section-padding-sm: 30px;
	--section-bg-color: #edededdb;
	--transition: all 0.3s ease-in-out;
}
html {
	scroll-behavior: "eager";
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}
@media (max-width: 767px) {
	.container {
		width: calc(100%);
		margin: 0px auto;
	}
}
@media (min-width: 768px) {
	.container {
		width: 750px;
		margin: 0px auto;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
		margin: 0px auto;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
		margin: 0px auto;
	}
}

body {
	font-family: "Work Sans", sans-serif;
}
/* End Global Rules  */

/* ###################################################################### */

/* Start Settings Box  */
.settings-box {
	position: fixed;
	left: -200px;
	top: 50%;
	transform: translateY(-50%);
	width: 200px;
	min-height: 70vh;
	background: rgba(255, 255, 255, 0.5); /* transparency */
	backdrop-filter: blur(15px); /* blur behind */
	-webkit-backdrop-filter: blur(15px); /* Safari support */
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	z-index: 1000;
	transition: left 0.3s ease-in-out;
}
.settings-box h4 {
	padding: 8px 0;
	font-size: 17px;
}
.settings-box.open {
	left: 0;
}
.settings-box .settings-box__toggle {
	position: absolute;
	right: -38px;
	top: 100px;
	background: rgba(255, 255, 255, 0.6); /* transparency */
	backdrop-filter: blur(15px); /* blur behind */
	-webkit-backdrop-filter: blur(15px); /* Safari support */
	border: 1px solid rgba(255, 255, 255, 0.3);
	width: 30px;
	height: 30px;
	text-align: center;
	cursor: pointer;
	padding: 18px;
}
.settings-box .settings-box__toggle i {
	color: var(--third-color);
	font-size: 22px;
	transform: translate(-14px, -10px);
}
.settings-box .settings-container {
	padding: 10px;
	background-color: rgba(220, 213, 220, 0.309);
	margin: 15px;
	border-radius: 10px;
}
.settings-box .settings-container h4 {
	color: rgb(0, 0, 0);
	margin-bottom: 10px;
}
.settings-box .settings-container .colors-list {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 15px;
}
.settings-box .settings-container .colors-list li {
	width: 25px;
	height: 25px;
	cursor: pointer;
	border-radius: 50%;
}
.settings-box .settings-container .colors-list li.active {
	border: 3px solid white;
	width: 30px;
	height: 30px;
	transform: translateY(-10px);
}
.random-backgrounds i {
	font-size: 25px;
	display: block;
	margin: 0 auto;
}
@media (max-width: 991px) {
	.settings-box {
		display: none;
	}
}
/* End Settings Box  */

/* ###################################################################### */

/* Start Landing Page  */

.landing-page {
	background-image: url(../IMAGES/landing-1.avif);
	background-size: cover;
	min-height: 100vh;
	position: relative;
	padding: 20px 0px;
	transition: background 2s linear;
}
@media (max-width: 767px) {
	.landing-page {
		background-size: 200% 100%;
		background-position: center;
		min-height: 60vb;
	}
}
.landing-page .layout {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1;
}
.landing-page .landing-page__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	margin: 0 auto;
	position: relative;
	z-index: 3;
	background: rgba(255, 255, 255, 0.2); /* transparency */
	backdrop-filter: blur(15px); /* blur behind */
	-webkit-backdrop-filter: blur(15px); /* Safari support */
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 10px;
}
.landing-page .landing-page__header__logo img {
	width: 50px;
	height: 50px;
	border-radius: 35%;
}
.landing-page .landing-page__header__nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.landing-page .landing-page__header__nav ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.landing-page .landing-page__header__nav ul li {
	margin-right: 20px;
	transition: var(--transition);
	padding: 5px 0;
	position: relative;
}
.landing-page .landing-page__header__nav ul li:hover {
	transform: translateY(-5px);
}
.landing-page .landing-page__header__nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	z-index: 4;
	transition: var(--transition);
}
@media (max-width: 1185px) {
	.landing-page .landing-page__header__nav ul li a {
		font-size: 17px;
	}
	.trophy {
		display: none;
	}
}
.landing-page .landing-page__header__nav ul li::before,
.landing-page .landing-page__header__nav ul li::after {
	content: "";
	position: absolute;
	height: 85%;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	transition: var(--transition);
	width: 0;
}
.landing-page .landing-page__header__nav ul li::before {
	left: 0%;
	/* transform: translateX(-50%); */
	/* border-color: var(--main-color) transparent var(--main-color)
		var(--main-color);
	border-width: 4px;
	border-style: solid; */
	background-color: var(--main-color);
	border-bottom-left-radius: 30%;
	border-top-left-radius: 30%;
	opacity: 0;
}
.landing-page .landing-page__header__nav ul li::after {
	right: 0%;
	/* transform: translateX(50%); */
	/* border-color: var(--sec-color) var(--sec-color) var(--sec-color) transparent;
	border-width: 4px;
	border-style: solid; */
	background-color: var(--sec-color);
	border-bottom-right-radius: 30%;
	border-top-right-radius: 30%;
	opacity: 0;
}
.landing-page .landing-page__header__nav ul li:hover::before,
.landing-page .landing-page__header__nav ul li:hover::after,
.landing-page .landing-page__header__nav ul li.active::before,
.landing-page .landing-page__header__nav ul li.active::after {
	opacity: 1;
	width: 50%;
}
.landing-page .landing-page__header__nav ul li:hover > a,
.landing-page .landing-page__header__nav ul li.active > a {
	/* color: var(--third-color); */
	font-size: 20px;
	padding: 15px;
	border-radius: 50px;
	position: relative;
}
.landing-page .fa-bars {
	display: none;
}
@media (max-width: 991px) {
	.landing-page .fa-bars {
		display: block;
		color: white;
		font-size: 25px;
		cursor: pointer;
	}
	.landing-page .landing-page__header__nav {
		position: absolute;
		top: 80px;
		right: 0px;
		width: fit-content;
		flex-direction: column;
		background: rgba(255, 255, 255, 0.2);
		backdrop-filter: blur(15px);
		-webkit-backdrop-filter: blur(15px);
		border-radius: 20px;
		border: 1px solid rgba(255, 255, 255, 0.3);
		padding: 10px;
		align-items: center;
		display: none;
	}
	.landing-page .landing-page__header__nav.open {
		display: flex;
	}
	.landing-page .fa-bars .landing-page .landing-page__header__nav ul {
		flex-direction: column;
		gap: 10px;
		text-align: start;
	}
	.landing-page .landing-page__header__nav ul {
		flex-direction: column;
	}
	.landing-page .landing-page__header__nav ul li {
		margin: 0;
	}
	.settings-box {
		display: none;
	}
	.nav-bullets {
		display: none;
	}
}
.landing-page .landing-page__content__title {
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	padding: 20px;
	background: rgba(255, 255, 255, 0.436); /* transparency */
	backdrop-filter: blur(15px); /* blur behind */
	-webkit-backdrop-filter: blur(15px); /* Safari support */
	border-radius: 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	padding: 10px;
	opacity: 0.9;
	z-index: 2;
}
.landing-page .landing-page__content__title h1 {
	color: white;
	margin-bottom: 20px;
	line-height: 1;
	font-size: clamp(25px, 5vw, 45px);
}

.landing-page .landing-page__content__title h1 span {
	color: var(--sec-color);
	font-size: clamp(25px, 4vw, 45px);
}
.landing-page .landing-page__content__title h1 span:last-child {
	color: var(--main-color);
}

/* end landing page */

/* ############################################################################ */

/* start about section */
.about {
	padding: var(--section-padding);
	background: linear-gradient(to right, var(--main-color), var(--sec-color));
	min-height: 100vb;
}
.about .about__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 40px;
}
.about .about__content .about__content__text {
	flex-basis: 50%;
}
.about .about__content .about__content__text h3 {
	font-size: 27px;
	margin-bottom: 15px;
	color: black;
	font-weight: bold;
	font-style: italic;
}
.about .about__content .about__content__text h2 {
	color: rgb(43, 43, 43);
	margin-bottom: 20px;
	font-size: clamp(25px, 5vw, 50px);
}
.about .about__content .about__content__text p {
	line-height: 1.5;
	color: white;
	font-size: clamp(17px, 3vw, 25px);

	font-weight: bold;
	padding-left: 20px;
}
.about .about__content .about__content__text p span {
	color: rgb(42, 42, 42);
}
.about .about__content .about__content__image {
	width: auto-fit;
	margin: 0 auto;
}

.about .about__content:first-child .about__content__image img {
	width: 199px;
	border-radius: 36%;
	height: 204px;
}
.about .about__content:last-child .about__content__image img {
	width: 287px;
	border-radius: 46%;
	height: 245px;
}
@media (max-width: 767px) {
	.about {
		min-height: 60vb;
	}
	.about .about__content .about__content__image img {
		display: none;
	}
	.about .about__content .about__content__text {
		flex-basis: 100%;
	}
	.about__tagline {
		display: none;
	}
}
/* end about section */

/* ############################################################################ */

/* start skills section */
.skills {
	padding: var(--section-padding);
	background: var(--main-bg-color);
	padding: 90px 0;
}
.skills .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.skills .skills__content {
	width: 45%;
}
.skills .skills__content .skills__prog__title {
	margin-bottom: 20px;
}
.skills .skills__content .skills__prog__title h2 {
	font-size: 33px;
	font-weight: bold;
	margin-bottom: 5px;
	color: var(--main-color);
}
.skills .skills__content .skills__content__text p {
	line-height: 1.5;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	width: 90%;
	text-align: start;
}
.skills__content__text p span {
	color: var(--main-color);
}
.skills .image {
	width: 30%;
	margin-right: 25px;
}
.skills .image img {
	width: 95%;
	border-radius: 20px;
}
@media (max-width: 991px) {
	.skills .image {
		display: none;
	}
}
@media (max-width: 767px) {
	.skills .container {
		flex-direction: column;
	}
	.skills .skills__content {
		width: 90%;
		margin-bottom: 30px;
	}
	.skills .skills__prog {
		width: 90%;
	}
}
.skills .skills__prog {
	min-width: 35%;
}
.skills .skills__prog h2 {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
	color: var(--sec-color);
}
.skills .skills__prog .skills__prog__bar .skills__prog__bar__item {
	margin-bottom: 15px;
}
.skills .skills__prog .skills__prog__bar .skills__prog__bar__item h3 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
.skills .skills__prog .skills__prog__bar .skills__prog__bar__item span {
	font-weight: bold;
	color: var(--font-color);
	transition: var(--transition);
}
.skills
	.skills__prog
	.skills__prog__bar
	.skills__prog__bar__item
	.skills__prog__bar__item__title {
	display: flex;
	justify-content: space-between;
	margin-bottom: 5px;
}
.skills
	.skills__prog
	.skills__prog__bar
	.skills__prog__bar__item
	.skills__prog__bar__item__progress {
	height: 20px;
	background-color: #dcdcdc;
	position: relative;
}
.skills
	.skills__prog
	.skills__prog__bar
	.skills__prog__bar__item
	.skills__prog__bar__item__progress
	span {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 0;
	background-color: var(--sec-color);
	transition: width 1.2s ease-in-out;
}
/* End skills section */

/* ############################################################################ */

/* start Gallery section  */
.gallery {
	padding: var(--section-padding);
	background: var(--section-bg-color);
	background: linear-gradient(to right, var(--third-color), var(--sec-color));
}
.gallery .container .gallery__title h2 {
	font-size: 35px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
	color: black;
	text-align: center;
}
.gallery .container .gallery__images {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 12px;
}
@media (max-width: 767px) {
	.gallery .container .gallery__images {
		grid-template-columns: repeat(auto-fit, minmax(124px, 1fr));
	}
}
.gallery .container .gallery__images img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 10px;
	transition: var(--transition);
	cursor: pointer;
	background-color: #f6f6f6;
	padding: 5px;
	border: 1px solid rgba(63, 63, 63, 0.749);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10000;
}
.lightbox {
	max-width: 550px;
	border-radius: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: #f0f0f0;
	padding: 5px;
	z-index: 10001;
	overflow: hidden;
}
.lightbox .close-btn {
	margin-left: auto;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	color: rgb(0, 0, 0);
	padding: 5px;
	border-radius: 25%;
	background-color: #9f9d9d5f;
}
.lightbox .close-btn:hover {
	background-color: var(--sec-color);
	color: white;
}
.lightbox h3 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: var(--main-color);
}
.lightbox img {
	width: 100%;
	height: 80%;
	border-radius: 10px;
	margin-top: 5px;
}
/* end Gallery section  */

/* ############################################################################ */

/* start Timeline section   */
.timeline {
	padding: var(--section-padding);
	background: var(--section-bg-color);
}
.timeline .timeline__title h2 {
	font-size: 40px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 30px;
	color: var(--third-color);
	text-align: center;
}
.timeline .timeline__content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	gap: 15px;
	position: relative;
}
.timeline .timeline__content::before {
	content: "";
	position: absolute;
	left: 50%;
	width: 4px;
	height: 100%;
	background: var(--main-color);
}
.timeline .timeline__content__item {
	width: calc(50% - 60px);
	background: rgba(255, 255, 255, 0.8);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
.timeline .timeline__content__item:nth-child(odd) h3::before,
.timeline .timeline__content__item:nth-child(even) h3::after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	background: transparent;
	top: 50%;
	border-style: solid;
	border-width: 12px;
	transform: translateY(-50%);
}
.timeline .timeline__content__item:nth-child(odd) h3::before {
	border-color: transparent transparent transparent white;
	left: -17px;
}
.timeline
	.container
	.timeline__content
	.timeline__content__item:nth-child(even)
	h3::after {
	border-color: transparent white transparent transparent;
	right: -15.5px;
}
.timeline .timeline__content__item h3 {
	color: white;
	font-size: 17px;
	position: absolute;
	left: 50%;
	transform: translateX(-47%);
	background-color: var(--main-color);
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
@media (max-width: 767px) {
	.timeline .timeline__content__item {
		width: calc(100%);
		margin: 20px 0;
	}
	.timeline .timeline__content__item h3 {
		transform: translate(-45px, -57px);
	}
	.timeline .timeline__content__item h3::before,
	.timeline .timeline__content__item h3::after,
	.timeline .timeline__content::before {
		display: none;
	}
}
.timeline__content__item .image {
	position: relative;
}
.timeline__content__item img {
	width: 120px;
	position: absolute;
	left: -140px;
	top: -10px;
	border-radius: 50%;
	padding: 5px;
	border: 4px solid white;
	background-color: white;
}
@media (max-width: 991px) {
	.timeline .timeline__content__item img {
		display: none;
	}
}

.timeline__content__item:nth-child(even) .image img {
	left: 524px;
}
.timeline .timeline__content__item p {
	color: rgb(55, 55, 55);
	line-height: 1.5;
	font-size: 15px;
	font-weight: bold;
}
/* end Timeline section    */

/* ############################################################################ */

/* start Culés section */
.culés {
	padding: var(--section-padding);
	background: linear-gradient(to right, var(--main-color), var(--third-color));
}
.culés .culés__title h2 {
	font-size: 35px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
	color: var(--third-color);
	text-align: center;
}
.culés .culés__content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	gap: 20px;
}
.culés .culés__content__item {
	/* background: rgba(255, 255, 255, 0.2); transparency */
	/* backdrop-filter: blur(15px); blur behind */
	/* -webkit-backdrop-filter: blur(15px); Safari support */
	padding: 15px;
	border-radius: 10px;
	/* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
	text-align: center;
	transition: var(--transition);
	cursor: pointer;
}
.culés .culés__content__item:hover {
	transform: translateY(-10px);
}
.culés .culés__content__item .image img {
	width: 60%;
	height: 200px;
	object-fit: cover;
	border-radius: 50%;
	margin-bottom: 10px;
	border: 4px solid white;
}
@media (max-width: 767px) {
	.culés .culés__content__item .image img {
		width: 70%;
		height: 190px;
	}
}
.culés .culés__content__item h3 {
	color: black;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 20px;
	position: relative;
}
.culés .culés__content__item h3::after {
	content: " ";
	position: absolute;
	width: 20%;
	height: 3px;
	background-color: white;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
}
.culés .culés__content__item p {
	color: rgb(0, 0, 0);
	line-height: 1.5;
	font-size: 18px;
	font-weight: bold;
}
/* end Culés section */

/* ############################################################################ */

/* start Navigation Bullets */
.nav-bullets {
	position: fixed;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1000;
	opacity: 1;
}
.nav-bullets.Active {
	display: block;
}
.nav-bullets .nav-bullets__item {
	width: 25px;
	height: 25px;
	background-color: transparent;
	border: 4px solid rgb(0, 0, 0);
	border-radius: 50%;
	margin-bottom: 9px;
	cursor: pointer;
	transition: var(--transition);
	position: relative;
}
.nav-bullets .nav-bullets__item h3 {
	left: -105px;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgb(19, 19, 19);
	width: fit-content;
	color: white;
	padding: 4px 10px;
	/* border-radius: 5px; */
	opacity: 0;
	transition: var(--transition);
	font-size: 20px;
	position: relative;
	pointer-events: none;
}
.nav-bullets .nav-bullets__item h3::after {
	content: "";
	position: absolute;
	right: -19px;
	top: 50%;
	transform: translateY(-50%);
	border-style: solid;
	border-width: 10px;
	border-color: transparent transparent transparent rgb(19, 19, 19);
}
.nav-bullets .nav-bullets__item:hover h3 {
	opacity: 1;
}
.nav-bullets .nav-bullets__item:hover,
.nav-bullets .nav-bullets__item.active {
	background-color: black;
	transform: translateX(-8px);
}
.nav-bullets .nav-bullets__item.active h3 {
	opacity: 1;
}

/* end Navigation Bullets */

/* ############################################################################ */

/* start contact section  */
.contact {
	padding: var(--section-padding);
	background: var(--section-bg-color);
	background-image: url(../IMAGES/contact.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	background-size: 1000px 800px;
}
.contact::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.6); /* transparency */
	backdrop-filter: blur(18px); /* blur behind */
	-webkit-backdrop-filter: blur(15px); /* Safari support */
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}
.contact .contact__title h2 {
	font-size: 35px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 20px;
	color: white;
	text-align: center;
	position: relative;
	z-index: 3;
}
.contact .contact__data {
	position: relative;
	z-index: 3;
}
.contact .contact__data .contact__form {
	padding: 15px;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	width: 90%;
	padding: 0 auto;
}
@media (max-width: 991px) {
	.contact .contact__data .contact__form {
		flex-direction: column;
	}
	.contact .contact__form div {
		min-width: 100%;
	}
}
.contact__form div {
	min-width: 49%;
}
.contact__form input,
.contact__form textarea {
	padding: 10px;
	width: 100%;
	height: 55px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	display: block;
}
.contact .contact__form textarea {
	height: 200px;
	resize: none;
}
.contact__form input:focus,
.contact__form textarea:focus {
	outline: none;
	box-shadow: 0 0 5px var(--main-color);
	caret-color: var(--main-color);
}
.contact__data input:focus::placeholder,
.contact__data textarea:focus::placeholder {
	color: transparent;
}
.contact .contact__form button {
	background-color: var(--sec-color);
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
	transition: var(--transition);
	width: fit-content;
	display: block;
	margin: 0 auto;
}
.contact .contact__data .contact__form button:hover {
	background-color: var(--main-color);
}
.contact img {
	position: absolute;
	bottom: -50px;
	left: -150px;
	width: 60px;
	border-radius: 50%;
	z-index: 3;
}
/* end contact section   */

/* start animation */
.fa-spin {
	animation: fa-spin 2s infinite linear;
}
@keyframes fa-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
